[Desktop Entry]
Type=Application
Name=Mouse
Comment=Mouse tracking and double-click speed
Exec=platinum-controlpanel mouse
Categories=Settings;HardwareSettings;
OnlyShowIn=Platinum;
