[Desktop Entry]
Type=Application
Name=Mouse
Comment=Mouse tracking and double-click speed
Exec=zacos9-controlpanel mouse
Categories=Settings;HardwareSettings;
OnlyShowIn=ZacOS9;
