[Desktop Entry]
Type=Application
Name=Sound
Comment=Volume and alert volume
Exec=zacos9-controlpanel sound
Categories=Settings;HardwareSettings;
OnlyShowIn=ZacOS9;
