[Desktop Entry]
Type=Application
Name=TCP/IP
Comment=Network interfaces, Wi-Fi, addresses and name servers
Exec=zacos9-tcpip
Categories=Settings;HardwareSettings;
OnlyShowIn=ZacOS9;
