[Desktop Entry]
Type=Application
Name=Monitors
Comment=Screen resolution and pixel size
Exec=zacos9-controlpanel monitors
Categories=Settings;HardwareSettings;
OnlyShowIn=ZacOS9;
