[Desktop Entry]
Type=Application
Name=Date & Time
Comment=Date, time, time zone and the menu bar clock
Exec=zacos9-datetime
Categories=Settings;DesktopSettings;
OnlyShowIn=ZacOS9;
