[Desktop Entry]
Type=Application
Name=Finder
Comment=Opens folders in the Finder
Exec=zacos9-finder --open %U
MimeType=inode/directory;
NoDisplay=true
OnlyShowIn=ZacOS9;
