[Desktop Entry]
Type=Application
Name=File Sharing
Comment=Share this computer's files with Macs (AFP) and Windows computers (SMB)
Exec=zacos9-filesharing
Categories=Settings;Network;
OnlyShowIn=ZacOS9;
