[Desktop Entry]
Type=Application
Name=Network Browser
Comment=Connect to other computers over the network
Exec=zacos9-netbrowser
Categories=Network;
OnlyShowIn=ZacOS9;
